    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: #ffffff;
        color: #1a1a1a;
    }

    .container {
        max-width: 420px;
        margin: 0 auto;
        padding: 16px;
        text-align: center;
    }

    header {
        background: rgb(247, 164, 8);
        color: rgb(77, 77, 158);
        padding: 24px 16px;
        border-radius: 0 0 20px 20px;
    }

    header img {
        max-width: 200px;
        width: 100%;
    }

    header h1 {
        margin: 0;
        margin-top: -20px;
        font-size: 26px;
        font-weight: bold;
    }

    header p {
        margin-top: 8px;
        font-size: 16px;
    }

    .video-section {
        margin: 24px 0;
        border-radius: 16px;
        padding: 16px;
    }

    .video-placeholder {
        width: 100%;
        height: 250px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #666;
        font-size: 14px;
    }
    .video-placeholder video{
        max-width: 300px;
        height: 250px;
        width: 100%;
        border-radius: 20px;
        margin: 20px 0;
    }
    .contacts {
        margin-top: 30px;
    }

    .contacts h2 {
        font-size: 18px;
        margin-bottom: 12px;
        color: #0057b8;
    }

    .contact-buttons {
        display: flex;
        justify-content: space-around;
    }

    .contact-btn span {
        margin-top: 6px;
    }

    .contact-btn img {
        max-width: 50px;
        width: 100%;
        animation: pulseShadow 1.8s infinite ease-in-out;
    }

    footer {
        margin-top: 32px;
        font-size: 12px;
        color: #888;
    }

    @keyframes pulseShadow {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.15);
        }

        100% {
            transform: scale(1);
        }
    }